@use '../utilities/variables' as variables;

.section-amenities {
  padding-top: 132px;
  padding-bottom: 90px;

  .amenities {
    margin-top: 46px;
    padding-bottom: 75px;
    border-bottom: 2px solid variables.$primary_color;

    .amenities-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      ul {
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        font-family: "Source Sans 3", sans-serif;
        padding-inline-start: 15px;
        list-style: none;
  
        &:not(:last-child) {
          margin-bottom: 30px;
        }

        li {
          text-align: center;
          position: relative;

          &::before {
            content: '';
            width: 5px;
            height: 5px;
            top: 50%;
            left: -15px;
            border-radius: 50%;
            position: absolute;
            background-color: variables.$primary_color;
            transform: translate(0, -50%);
          }
        }
  
        li:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Media Querys */
@media only screen and (min-width: 1024px) {
  .section-amenities {
    .amenities {
      .amenities-list {
        ul {
          flex: 1 1 30%;
          justify-content: flex-start;
          align-items: flex-start;
    
          &:not(:last-child) {
            margin-bottom: 0;
          }

          li {
            text-align: left;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1480px) {
  .section-amenities {
    .amenities {
      .amenities-list {
        gap: 35px;
      }
    }
  }
}