.section-locations {
    padding: 106px 0 90px;
    background-color: #98A684;
    background-size: cover;
    background-position: center;
    background-image: url('../img/fondo.jpg');
    filter: sepia(60%);

    .slider {
        .swiper-slide {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: stretch;
            position: relative;
            
            .slider-info {
                text-align: left;
                padding: 148px 99px;
                background-color: #fff;
    
                span {
                    color: #98A684;
                    font-size: 14px;
                    letter-spacing: 0.35px;
                    text-transform: uppercase;
                }
    
                h2 {
                    font-family: Cardo;
                    font-size: 60px;
                    color: #3C3C3C;
                    letter-spacing: -1.29px;
                }
    
                p {
                    font-family: "Source Sans 3", sans-serif;
                    font-size: 16px;
                    color: #1B1B1B;
                    letter-spacing: 0px;
                }
            }
    
            .slider-image {
                background-size: cover;
                background-position: center;
                background-image: url('../img/lima-slider-01.jpg');
            }
        }
    }

    .slider-number {
        position: absolute;
        bottom: -35px;
        right: -30px;
        font-size: 200px;
        color: #fff;
        font-family: Cardo;
        z-index: 999;
    }
}