@use '../utilities/variables' as variables;

.section-menus {
  padding: 106px 0 90px;
  
  .container--menus {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .menus-image {
      img {
        max-width: 100%;
      }
    }

    .menus-text {
      padding:  70px 15px;

      span {
        color: variables.$primary_color;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.35px;
        text-transform: uppercase;
      }

      h2 {
        font-family: Cardo;
        font-size: 60px;
        font-weight: normal;
        line-height: 70px;
        color: variables.$font_secundary_color;
        letter-spacing: -1.29px;
        margin: 26px 0 19px;
        padding-right: 29px;
      }

      p {
        font-family: "Source Sans 3", sans-serif;
        font-size: 16px;
        color: variables.$font_primary_color;
        letter-spacing: 0px;
        line-height: 30px;
        margin-bottom: 39px;
      }

      button {
        border: none;
        color: variables.$white;
        border-radius: 0px;
        padding: 18px 53px;
        background-color: variables.$primary_color;
        text-transform: uppercase;
        font-family: "Work Sans", sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 2.1px;

        &:hover {
          background-color: variables.$font_primary_color;
        }
      }
    }
  }
}

/* Media Querys */
@media only screen and (min-width: 1024px) {
  .section-menus {
    padding: 172px 0 203px 0;

    .container--menus {
      flex-direction: row;

      .menus-image {
        width: 50%;
      }

      .menus-text {
        width: calc(50% - 120px);
        padding: 40px 60px;

        h2 {
          padding-right: 50px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .section-menus {
    .container--menus {
      .menus-text {
        max-width: 379px;
        width: calc(50% - 210px);
        padding: 60px 105px;

        h2 {
          padding-right: 62px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1480px) {
  .section-menus {
    .container--menus {
      .menus-image {
        width: 720px;
      }
    }
  }
}