@use '../utilities/variables' as variables;

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}
  
body {
  line-height: 1;
  font-size: 14px;
  color: variables.$font_primary_color;
  background-color: variables.$white;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4,
h5, h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}