* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

html {
  scroll-behavior: smooth;
}
  
body {
    line-height: 1;
    font-size: 14px;
    color: #1B1B1B;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4,
h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    cursor: pointer;
    color: #4c4c4c;
    text-decoration: none;

    &:hover {
        color: #000000;
    }
}
  
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1;
    color: #4c4c4c;
}
  
select {
    width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

input {
  width: 100%;
  padding: 7px;
  border-radius: 20px;
  color: #4c4c4c;
  border: 1px solid #4c4c4c;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* Media Querys */
@media only screen and (min-width: 1400px) {
    p {
        font-size: 16px;
    }
}